body {
    margin: 0px;
    margin-top: 50px;
}

* {
    cursor: url("../img/cursor.gif"), auto !important;
}

.float-left {
    float: left;
}

.scroller {
    max-height: 400px;
    overflow-y: auto;
}

button,
button a,
.no_underline {
    text-decoration: none !important;
}

.main-window {
    width: 600px;
    max-width: 95%;
    margin: auto;
}

.rgb {
    animation: color-change 3s infinite;
}

.txt {
    height: 12px;
}

img {
    max-width: 100%;
}

@keyframes color-change {
    0% {
        color: red;
    }
    33% {
        color: darkblue;
    }
    66% {
        color: green;
    }
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.img {
    vertical-align: middle;
}
.new {
    height: 11px;
    vertical-align: middle;
}

.title-icon {
    height: 14px;
    margin-right: 2px;
    vertical-align: middle;
}

.flex-container {
    display: flex;
}

.flex-container div {
    flex-grow: 1;
}

@media (max-width: 450px) {
    .flex-container {
        display: block;
    }

    .status-bar-field {
        text-align: center;
        word-wrap: break-word;
    }
}
