---
layout: default
---
<div class="post-list">
  {% for post in paginator.posts %}
  <section>
    <h2 class="post-list-title">
      {{ post.title }}
    </h2>
    <span>{{post.postdate}}</span>
    <p>{{ post.content | strip_html | truncate: 400 }}</p>
    <a href='{{ site.url }}{{ post.url }}' class="btn">Read more</a>
    <hr />
  </section>
  {% endfor %}
</div>

<center>
  {% if paginator.previous_page %}
  <a href=' {{ site.url }}{{ paginator.previous_page_path }}' class="btn">Previous</a>
  {% endif %}

  Page {{ paginator.page }} of {{ paginator.total_pages }}

  {% if paginator.next_page %}
  <a href='{{ site.url }}{{ paginator.next_page_path }}' class="btn">Next</a>
  {% endif %}
</center>