<header>
    <nav>
        <h1 class="title"><a href='{{ site.url }}/' class="title">{{ site.name }}</a></h1>
        <a href='{{ site.url }}/' class="btn">Home</a>
        <a href='{{ site.url }}/about/' class="btn">About</a>
        <a href='{{ site.url }}/contact/' class="btn">Contact</a>
        <a href='{{ site.url }}/archive/' class="btn">Archive</a>
        <a href='https://mailchi.mp/7183e2f21bac/web-log-of-agrawal-d' class="btn">Newsletter</a>

        <button class="layout-button" id="layout-toggle">Layout</button>
        <div class="layout-form" id="layout-form">
            <b>Font: </b>
            <button id="font-serif">Serif</button> <button id="font-sans-serif">Sans-Serif</button>
            <br />
            <b>Desktop width: </b>
            <button id="width-800">800px</button> <button id="width-900">900px</button>
            <button id="width-1000">1000px</button>
            <br />
            <b>Font Size: </b>
            <button id="f-inc">A+</button>
            <button id="f-dec">A-</button>
            <br />
            <b>Text color: </b> <input type="color" id="color-picker" />
        </div>
    </nav>
    <hr />
</header>

<script>
    const el = (id) => document.getElementById(id);

    el("layout-toggle").addEventListener("click", () => {
        const layoutForm = el("layout-form");
        const visible = layoutForm.style.display === "block";

        if (visible) {
            layoutForm.style.display = "none";
        } else {
            layoutForm.style.display = "block";
        }
    })

    el("font-serif").addEventListener("click", () => document.getElementsByTagName("body")[0].style.fontFamily = "serif")
    el("font-sans-serif").addEventListener("click", () => document.getElementsByTagName("body")[0].style.fontFamily = "sans-serif")
    el("width-800").addEventListener("click", () => document.getElementsByClassName("content")[0].style.width = "800px")
    el("width-900").addEventListener("click", () => document.getElementsByClassName("content")[0].style.width = "900px")
    el("width-1000").addEventListener("click", () => document.getElementsByClassName("content")[0].style.width = "1000px")
    el("f-inc").addEventListener("click", () => {
        const body = document.getElementsByTagName("body")[0];
        const rawSize = window.getComputedStyle(body, null).getPropertyValue('font-size');
        let fontSize = parseFloat(rawSize);
        fontSize += 2;
        body.style.fontSize = fontSize + "px";
        console.log(fontSize);
    })
    el("f-dec").addEventListener("click", () => {
        const body = document.getElementsByTagName("body")[0];
        const rawSize = window.getComputedStyle(body, null).getPropertyValue('font-size');
        let fontSize = parseFloat(rawSize);
        fontSize -= 2;
        body.style.fontSize = fontSize + "px";
        console.log(fontSize);
    })
    el("color-picker").addEventListener("change", () => document.getElementsByTagName("body")[0].style.color = el("color-picker").value)

</script>