---
layout: default
---
<article id="post-page">
	<h2>{%if page.header %}{{ page.header }}{% else %}{{ page.title }}{% endif %}</h2>		
	<time datetime="{{ page.date | date_to_xmlschema }}" class="by-line">{{ page.date | date_to_string }}</time>
	<div class="content">

		{{ content }}

	</div>
	<div class="comments">
		<h3>Comments</h3>
		<p>
			A comment system will be implemeted soon. In the meanwhile, visit <a href="/contact">this page</a> to send your thoughts to me.
		</p>
	</div>
</article>

