body, p, span {
  color: black;
}

.main {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}

.profile-pic {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.repo-card {
  height: 100%;
}

.repo-col {
  margin-bottom: 20px;
}

a {
  color: rgb(69, 101, 206)
}